@font-face{
  font-family: Inter bold;
  src: url('assets/fonts/static/Inter-Bold.ttf')
}
@font-face{
  font-family: Inter regular;
  src: url('assets/fonts/static/Inter-Regular.ttf')
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 15px;
  font-family: 'Inter regular';
  background-color: hsl(36, 100%, 99%);
}
.wraper{
  max-width: 1000px;
  margin: 0 auto;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  padding: 50px 0;
}
.logo{
  width: 60px;
  height: 40px;
}
.nav-item{
  font-size: 1.15rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}
.nav-item:hover{
  color: hsl(5, 85%, 63%);
}
.main-new{
  display: flex;
}
.chapter{
  width: 650px;
}
.text-block{
  display: flex;
  padding: 20px 0;
}
.text-block > h1{
  font-family: Inter bold;
  width: 50%;
  font-size: 3.5rem;
  line-height: 55px;
  font-weight: bold;
}
.span{
  width: 50%;
  font-size: 0.9rem;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.more{
  width: 50%;
  height: 40px;
  background-color: hsl(5, 85%, 63%);
  display:table;
}
.more > p{
  font-family: Inter bold;
  color: hsl(36, 100%, 99%);
  display:table-cell!important;
  text-align: center; 
  vertical-align:middle;
  letter-spacing: 3px;
}
.block-new{
  margin-left: 30px;
  padding: 20px;
  background-color: hsl(240, 100%, 5%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block-new > h1{
  color: hsl(35, 77%, 62%);
  font-size: 2.5rem;
}
.block-new_new > h3{
  font-family: Inter bold;
  color: hsl(36, 100%, 99%);
}
.block-new_new > h4{
  padding: 7px 0;
  font-size: 0.9rem;
  line-height: 25px;  
  color: rgba(255, 255, 255, 0.7);
}
.new1{
  display: flex;
}
.new1-block__first-block{
  margin-left: 0 !important;
}
.new1-block__second-block{
  margin-left: 25px;
}
.new1-block__three-block{
  margin-left: 55px;
}
.new1-block{
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.secondaru-new{
  padding: 50px 0;
}
.new1__block-text{
  height: 100px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.new1__block-text > h2{
  color: rgba(0, 0, 0, 0.3);
  font-family: Inter bold;
  font-size: 1.7rem;
}
.new1__block-text > h3{
  font-size: 0.95rem;
  font-family: Inter bold;
}
.new1__block-text > h4{
  font-size: 0.75rem;
  line-height: 20px;  
  color: rgba(0, 0, 0, 0.7);
}